<h1>Sign Up</h1>
<%= simple_form_for @user do |f| %>

  <%= f.input :first_name, placeholder: 'First Name', label: false %>
  <%= f.input :last_name, placeholder: 'Last Name', label: false %>
  <%= f.input :email, placeholder: 'Email', label: false %>
  <%= f.input :password, placeholder: 'Password', label: false %>
  <%= f.input :password_confirmation, placeholder: 'Password Confirmation', label: false %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
